<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}Pagina de Inicio de Sismedica{% endblock titulo %}</title>
    {% block extracss %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos3.css' %}">
    {% endblock extracss %}
</head>
<body>
    

 
    <header>
        <div class="contenedor">

            <div class="menu">
                <div class="Lmenu">
                    <nav class="navegacion">
                        <ul class="ulmenu">
                            <li><a href="index.html">Menu Principal</a></li>
                            <li><a href="#">Expediente</a>
                                <ul class="submenu">
                                    <li><a href="{% url 'clinica:crear_paciente' %}">Crear Paciente Nuevo</a> </li>
                                    <li><a href="#">Editar Paciente</a></li>
                                    <li><a href="#">Consultar Paciente</a></li>
                                </ul>
                            </li>    
                            <li><a href="#">Consulta</a>
                                <ul class="submenu">
                                    <li><a href="{% url 'clinica:crear_consulta' %}">Crear Consulta</a> </li>
                                    <li><a href="#">Gestionar Paciente</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Reportes</a></li>
                            <li><a href="#">Citas</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="sesion">
                    <img src="{% static 'img/imagen1.png' %}" alt="Mi imagen" width="75" height="100">
                    <ul>
                        <li>{{user.username | upper}}</li>
                        <li><button>editar perfil</button></li>
                        <li><a class="nav-link" href="{% url 'logout' %}">Cerrar Sesion</a></li>
                    </ul>
                </div>
                
                
            </div>
        </div>

    </header>


    {% if pacientes %}
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        {% for paciente in pacientes %}
        <tr>
          <td>{{paciente.expediente}}</td>
          <td>{{paciente.nombre}}</td>
          <td>{{paciente.apellidos}}</td>
          <td>
            <a href="{% url 'clinica:editar_paciente' paciente.expediente %}">Actualizar</a>
          </td>
          <td>
            <a href="#">Eliminar</a>
          </td>
        </tr>
  
        {% endfor %}
      </tbody>
    </table>

    {% else %}
    <h1>No existen autores registrados</h1>
  {% endif %}
</body>
</html> 
